# Config for `fprettify` Fortran Formatter
# Can be instaled with pip or conda; use of config file requires configargparse

# line length
l: 120
# indents = 2 spaces
i: 2
# Check recursively
recursive
# Excluded files:
# Anything compiled, src/venus.f90 (it's incomplete), old fortran files, makefiles, template files
exclude: ["*.exe","*.o","Venus.f90","*.f","Makef*","*emplate.f90","*Msis21.F90"]

# Whitespace option 2 (check fprettify -h for info):
whitespace: 2

