name: Sequential Tests

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  Format:
    runs-on: ubuntu-latest
    name: Format Check
    permissions:
      pull-requests: read

    steps:
      - name: Clone Formatter
        uses: actions/checkout@v4
        with: 
          repository: 'GITMCode/fprettify'
          path:
            fprettify
      - name: Install formatter
        run: |
          cd fprettify
          pip install .
      - name: Clone GITM
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path:
            GITM
      - name: Format check entire GITM repository
        run: |
          cd GITM
          python srcPython/format_GITM.py -f -v
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            **.f90
            **.f
      - name: Style Check - Only Changed Files
        env:
            ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          cd GITM
          python srcPython/format_GITM.py -l -s -v ${ALL_CHANGED_FILES}

  Documentation:
    runs-on: ubuntu-latest
    name: Build Documentation
    needs: [Format]
    steps:
      - name: Clone GITM repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: manual.tex
          working_directory: srcDoc
      - name: Rename GITM Manual
        run: mv srcDoc/manual.pdf GITM_manual.pdf
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: GITM_manual.pdf
          retention-days: 31

  Tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    name: Run Automatic Tests
    needs: [Format, Documentation]
    steps:
      - name: Linux install gfortran & openmpi
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install -y libopenmpi-dev
      - name: macOS install gfortran & openmpi
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install gcc open-mpi
      - name: Clone GITM repository
        uses: actions/checkout@v4
      - name: Run tests in srcTests/auto_test
        run: |
          cd srcTests/auto_test
          ./run_all_tests.sh
